@import "tailwindcss";

@theme {
  --font-sans: "Halvar Breit", sans-serif;
  --font-halvar: "Halvar Breit", sans-serif;
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-halvar);
  }

  :root {
    --primary: white;
    --secondary: #FEE97D;
    --bg-secondary: #9E13E0;
    --main-gradient: linear-gradient(111.06deg, #DC8400 -3.49%, #560080 49.69%, #220032 91.86%);
  }
}
